.transparent {
    background-color: rgba(0, 0, 0, 0);
}

mat-toolbar {
    padding: 0;
}

mat-toolbar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: 0 16px;
}
