# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 2 Chrome major versions
last 2 ChromeAndroid major versions
last 2 Firefox major versions
last 2 FirefoxAndroid major versions
last 2 Edge major versions
Edge 18
last 1 Samsung major version
last 1 Safari major version
last 1 iOS major version
last 1 KaiOS major versions
last 1 IE major version
Firefox ESR
