<header>
    <app-header [menuComponent]="appMenu" [headerStyle]="1" [maxWidth]="'1000px'"></app-header>
    <app-menu #appMenu [showHome]="true"></app-menu>
</header>

<main>
    <h1>Privacy policy</h1>
    <p><em>Last updated November 09, 2020</em></p>

    <p>Thank you for choosing to be part of our community at Marc apps & software (" Company ", "we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, please contact us at <a href="mailto:marc.apps@outlook.com?subject=Privacy Policy">marc.apps@outlook.com</a>.</p>

    <p>When you visit our website <a href="https://marc-apps.nl/" target="_blank" rel="noopener noreferrer">https://marc-apps.nl/</a> (the "Website"), use our mobile application(s), as the case may be (the "App") and more generally, use any of our services (the "Services", which include the  Website and App ), we appreciate that you are trusting us with your personal information. We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Services immediately.</p>

    <p>This privacy notice applies to all information collected through our Services (which, as described above, includes our  Website and App ), as well as, any related services, sales, marketing or events.</p>

    <p>Please read this privacy notice carefully as it will help you understand what we do with the information that we collect.</p>

    <nav>
        <h2>Table of contents</h2>

        <ol>
            <li><a href="./privacy-policy/#section1">What information do we collect?</a></li>
            <li><a href="./privacy-policy/#section2">Will your information be shared with anyone?</a></li>
            <li>
                <a href="./privacy-policy/#section3">What are your privacy rights?</a><br>
                <ol>
                    <li><a href="./privacy-policy/#section31">The European Economic Area</a></li>
                    <li><a href="./privacy-policy/#section32">Switzerland</a></li>
                    <li><a href="./privacy-policy/#section33">California</a></li>
                </ol>
            </li>
            <li><a href="./privacy-policy/#section4">Do we make updates to this notice?</a></li>
            <li><a href="./privacy-policy/#section5">How can you contact us about this notice?</a></li>
            <li><a href="./privacy-policy/#section6">How can you review, update, or delete the data we collect from you?</a></li>
            <li><a href="./privacy-policy/#section7">Children's information</a></li>
        </ol>
    </nav>

    <section id="section1">
        <h2>1. What information do we collect?</h2>

        <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>

        <p>If you contact us directly, we may receive additional information about you such as your name, email address, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

        <p>We may receive additional information trough storefronts where our App is published, such as the Play Store by Google, App Store by Apple and/or Microsoft Store by Microsoft. This information includes crash logs, anonymous application acquisition data and/or content of user reviews. Please read their privacy policy for additional information.</p>
    </section>

    <section id="section2">
        <h2>2. Will your information be shared with anyone?</h2>

        <p>We may process or share your data that we hold based on the following legal basis:</p>
        <ul>
            <li><strong>Consent:</strong> We may process your data if you have given us specific consent to use your personal information for a specific purpose.</li>
            <li><strong>Legitimate Interests:</strong> We may process your data when it is reasonably necessary to achieve our legitimate business interests.</li>
            <li><strong>Performance of a Contract:</strong> Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.</li>
            <li><strong>Legal Obligations:</strong> We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</li>
            <li><strong>Vital Interests:</strong> We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</li>
        </ul>

        <p>More specifically, we may need to process your data or share your personal information in the following situations:</p>
        <ul>
            <li><strong>Business Transfers.</strong> We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</li>
        </ul>
    </section>

    <section  id="section3">
        <h2>3. What are your privacy rights?</h2>

        <section  id="section31">
            <h3>3.1. The European Economic Area</h3>

            <p>If you are a resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: <a href="https://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080</a>.</p>
        </section>

        <section  id="section32">
            <h3>3.2. Switzerland</h3>

            <p>If you are a resident in Switzerland, the contact details for the data protection authorities are available here: <a href="https://www.edoeb.admin.ch/edoeb/en/home.html" target="_blank" rel="noopener noreferrer">https://www.edoeb.admin.ch/edoeb/en/home.html</a>.</p>
        </section>

        <section  id="section33">
            <h3>3.3. California</h3>

            <p>California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</p>

            <p>If you are under 18 years of age, reside in California, and have a registered account with a Service , you have the right to request removal of unwanted data that you publicly post on the Services . To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Services , but please be aware that the data may not be completely or comprehensively removed from all our systems (e.g. backups, etc.).</p>
        </section>
    </section>

    <section  id="section4">
        <h2>4. Do we make updates to this notice?</h2>

        <p>We may update this privacy notice from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.</p>
    </section>

    <section  id="section5">
        <h2>5. How can you contact us about this notice?</h2>

        <p>If you have questions or comments about this notice, you may email us at <a href="mailto:marc.apps@outlook.com?subject=Privacy Policy">marc.apps@outlook.com</a>.</p>
    </section>

    <section  id="section6">
        <h2>6. How can you review, update, or delete the data we collect from you?</h2>

        <p>Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please submit a request by clicking <a href="mailto:marc.apps@outlook.com?subject=Privacy Policy">here</a>.</p>
    </section>

    <section  id="section7">
        <h2>7. Children's information</h2>

        <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

        <p>We do not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information trough our Service, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
    </section>
</main>
