@mixin mobile {
    @media only screen and (max-width: 730px) {
        @content;
    }
}

header > .main-header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    max-width: 100vw;
    z-index: 10;
}

section.bingo-app-promo {
    display: grid;
    grid-template-columns: 16px minmax(0, 1fr) minmax(0, 1fr) 16px;
    grid-template-rows: auto 16px minmax(0, 1fr);
    gap: 0px 32px;
    grid-auto-flow: row;
    min-height: 550px;
    max-height: 800px;
    height: calc(100vh - 64px);

    @include mobile {
        grid-template-rows: auto minmax(0, 1fr) auto;
        height: 110vh;
        gap: 0px 0px;
    }

    .background {
        grid-area: 1 / 1 / span 3 / span 4;

        background-image: url("^assets/bingo-promo-background-light-half.webp");
        background-repeat: no-repeat;
        background-size: cover;

        @include mobile {
            background-image: url("^assets/bingo-promo-background-light-quarter.webp");

            @media (prefers-color-scheme: dark) {
                background-image: url("^assets/bingo-promo-background-dark-quarter.webp");
            }
        }

        @media (prefers-color-scheme: dark) {
            background-image: url("^assets/bingo-promo-background-dark-half.webp");
        }
    }

    .bingo-header {
        grid-area: 1 / 1 / span 1 / span 4;

        @include mobile {
            grid-area: 1 / 1 / span 1 / span 4;
        }
    }

    .screenshot {
        grid-area: 3 / 2 / span 1 / span 1;

        @include mobile {
            grid-area: 2 / 2 / span 1 / span 2;
        }

        > img {
            display: block;
            margin-left: auto;
            height: 100%;
            padding: 8px 0px;
            max-width: 100%;
            object-fit: contain;

            @include mobile {
                margin: auto;
                max-height: 100%;
            }
        }
    }

    .text {
        grid-area: 3 / 3 / span 1 / span 1;
        display: flex;
        align-items: center;

        @include mobile {
            grid-area: 3 / 2 / span 1 / span 2;
            align-items: baseline;
            justify-content: center;
            margin: 16px 0px;
        }

        > div {
            max-width: 464px;
            border-radius: 16px;
            padding: 16px;

            @include mobile {
                padding: 8px;
            }
        }
    }
}

.acrylic {
    background-color: rgba(#FAFAFA, 90%);

    @media (prefers-color-scheme: dark) {
        background-color: rgba(#303030, 90%);
    }

    @supports (backdrop-filter: blur(30px) saturate(125%)) or (-webkit-backdrop-filter: blur(30px) saturate(125%)) {
        background-color: rgba(#FAFAFA, 30%);
        backdrop-filter: blur(30px) saturate(125%);
        -webkit-backdrop-filter: blur(30px) saturate(125%);

        @media (prefers-color-scheme: dark) {
            background-color: rgba(#303030, 30%);
        }
    }
}

main {
    > section.modules, > section.apps {
        padding: 32px;

        @include mobile {
            padding: 32px 16px;
        }
    }

    > section.modules {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 128px auto;
        width: 100%;
        grid-auto-flow: row;

        @include mobile {
            grid-template-rows: auto 16px auto;
        }
    }

    > section.modules > .background {
        grid-area: 2 / 2 / span 2 / span 1;
        fill: var(--primary-color);
        opacity: 0.1;
        width: 15vw;
        height: 15vw;

        @include mobile {
            width: 25vw;
            height: 25vw;
        }

        @media (prefers-color-scheme: dark) {
            fill: #FFFFFF;
        }
    }

    > section.modules > .content {
        grid-area: 1 / 1 / span 2 / span 2;
    }

    > section.modules .module, > section.apps .app {
        display: inline-block;
        width: 400px;
        max-width: 100%;
        padding: 8px;
        vertical-align: top;
    }
}

.button-bar > a {
    margin: {
        left: 4px;
        right: 4px;
        bottom: 8px;
    }
}

.tag {
    font-size: 0.5em;
    padding: 2px 8px;
    border-radius: 1em;

    &.primary {
        background-color: var(--primary-color);
        color: white;
    }

    &.gray {
        background-color: #E0E0E0;
    }
}

a > .play-badge {
    height:36px;
    vertical-align: top;
}
