<header>
    <app-header [menu]="appMenu" class="bingo-header" [style]="3"></app-header>
    <app-header [menu]="appMenu" class="main-header" [style]="0"></app-header>

    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/privacy">
            <mat-icon>policy</mat-icon>
            <span>Privacy policy</span>
        </button>
        <a mat-menu-item href='./3rdpartylicenses.txt' target="_blank" rel="noopener noreferrer">
            <mat-icon>description</mat-icon>
            <span>Open-source licenses</span>
        </a>
    </mat-menu>
</header>

<main>
    <section class="bingo dark-theme">
        <div class="background"></div>
        <app-header [style]="2" style="position: relative; display: hidden;"></app-header>
        <div class="content">
            <div class="screenshot">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAABWCAYAAABfCs+lAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAFiQAABYkAZsVxhQAAAAmSURBVHhe7cEBAQAAAIIg/69uSEAAAAAAAAAAAAAAAAAAAABwrgY/fgABZJSb9AAAAABJRU5ErkJggg=="
                alt="Bingo caller/number generator application screenshot"
                onload="if(this.src.startsWith('data:image/png;base64,')) this.src='../../assets/BingoCallerScreenshot.png'" />
            </div>
            <div class="text">
                <h1>Bingo caller/number generator</h1>
                <p>This app generates and calls random numbers for 75-number bingo.</p>
                <div class="button-bar">
                    <a mat-stroked-button href="https://bingo.marc-apps.nl/index.html" target="_blank"
                        rel="noopener noreferrer">Try now</a>
                    <a href='https://play.google.com/store/apps/details?id=com.marc.bingonumbergenerator&utm_source=https://marc-apps.nl/&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                        target="_blank" rel="noopener noreferrer">
                        <img class="play-badge" alt='Get it on Google Play' src='../../assets/play_badge.png' />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="apps">
        <h1>Other apps</h1>
        <div class="app">
            <mat-card>
                <mat-card-title>OVgo <sup class="tag primary">WIP</sup>
                </mat-card-title>
                <mat-card-subtitle>For Android</mat-card-subtitle>
                <mat-card-content>
                    <p>Dutch public transport app.</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <a mat-button href="https://github.com/Marc-JB/OVgo" target="_blank"
                        rel="noopener noreferrer">View on GitHub</a>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="app">
            <mat-card>
                <mat-card-title>Files</mat-card-title>
                <mat-card-subtitle>For Android</mat-card-subtitle>
                <mat-card-content>
                    <p>Shortcut to the system file manager of Android.</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <a mat-button href="https://play.google.com/store/apps/details?id=com.marc.files&utm_source=https://marc-apps.nl/&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank"
                        rel="noopener noreferrer">View on Google Play</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>

    <section class="modules">
        <mat-icon class="background mobile-hidden">extension</mat-icon>

        <h1>Modules</h1>
        <div class="module">
            <mat-card>
                <mat-card-title>TextToSpeechKt <sup class="tag primary">preview</sup>
                </mat-card-title>
                <mat-card-subtitle>For Android & web</mat-card-subtitle>
                <mat-card-content>
                    <p>Experimental multiplatform TextToSpeech library. Written in Kotlin.</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <a mat-button href="https://github.com/Marc-JB/TextToSpeechKt" target="_blank"
                        rel="noopener noreferrer">View on GitHub</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>
</main>
